apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-additional-scrape-configs
  labels:
    app: prometheus
data:
  prometheus-additional.yml: |
    - job_name: "graduate-placement-api"
      kubernetes_sd_configs:
        - role: pod
      relabel_configs:
        - source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_scrape]
          action: keep
          regex: "true"
        - source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_path]
          action: replace
          target_label: __metrics_path__
          regex: (.*)
        - source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_port]
          action: replace
          target_label: __address__
          regex: (.*)
